body {
  margin: 0;
  font-family: BlinkMacSystemFont, 'Segoe UI';
  min-height: 100vh;
}

.full-height {
  min-height: calc(100vh - 142px);
}

.text-red {
  color: red;
}

.text-alert {
  color: rgb(190, 25, 25);
}

.fit-button {
  padding: none !important;
}

.w-75 {
  width: 75%;
}

.p4 {
  padding: 1rem
}